<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Carnivault - Livestock</title>

    <script src="https://cdn.jsdelivr.net/npm/date-fns@3/cdn.min.js"></script>
  </head>
  <body>
    <div class="flex flex-1">
      <%- include("../partials/sidebar") %>
      <main class="flex-1 p-10 overflow-y-auto bg-background">
        <h1 class="text-2xl font-bold text-foreground mb-6 tracking-tight">
          Livestock
        </h1>
        <section class="flex flex-col gap-4">
          <!-- prettier-ignore -->
          <section class="flex justify-between">
            <%- include("../partials/searchbar", { label: "Livestock", select_id: "searchbarSelect", input_id: "searchbarInput", placeholder: "Search livestock...", route_api: "livestock" }) %>
            <div class="grid gap-2 grid-flow-col">
              <a href="/reports/inventory-keeping" class="btn-outline">
              <i data-lucide="bar-chart-2"></i>
              View Reports
            </a>
              <a href="/suppliers" class="btn-outline">
                <i data-lucide="users" class="h-4.5"></i>
                View Suppliers
              </a>
              
              <a href="/livestock/add" class="btn">
                <i data-lucide="house-plus" class="h-4.5"></i>
                Add Livestock
              </a>
            </div>
          </section>
          <div class="overflow-x-auto">
            <!-- prettier-ignore -->
            <%- include("../partials/table-skeleton", { id: "table-skeleton"})%>
            <%- include("../partials/table", { id: "livestock-table" })%>
          </div>
          <!-- prettier-ignore -->
          <%- include("../partials/table-data-zero", { id: "table-data-zero", description: "Livestock data not available..."}) %>
        </section>
      </main>
    </div>

    <script src="/scripts/components/searchbar.js"></script>

    <script>
      document.addEventListener("DOMContentLoaded", async () => {
        const { format, parseISO } = dateFns;

        const tableColumns = [
          "Livestock ID",
          "Breed",
          "Weight",
          "Age",
          "Country of Origin",
          "Medical Condition",
          "Vaccination Status",
          "Date Arrived",
          "Storage Location",
          "Supplier ID",
          "Status",
          "Processing Date",
          "Actions",
        ];
        const tableSkeleton = document.getElementById("table-skeleton");
        const table = document.getElementById("livestock-table");
        const tableDataZeroLabel = document.getElementById("table-data-zero");
        const tableBody = table.tBodies[0];
        const tableHeader = table.tHead;

        const headerFragment = document.createDocumentFragment();
        const row = headerFragment.appendChild(document.createElement("tr"));
        row.classList.add("font-bold");
        tableColumns.forEach((col) => {
          row.insertCell().textContent = col;
        });
        tableHeader.appendChild(headerFragment);

        initSearchBar(
          "searchbarSelect",
          "searchbarInput",
          "livestock-table",
          tableColumns
        );

        if (!tableSkeleton || !table || !tableDataZeroLabel || !tableBody) {
          console.error("A required table element is missing!");
          return;
        }

        try {
          const response = await fetch("/api/livestock");
          const data = await response.json();

          // hide skeleton and show table after data load
          tableSkeleton.classList.add("hidden");
          table.classList.replace("hidden", "table");

          // show message and hide table when data is empty
          if (data.length === 0) {
            table.classList.replace("table", "hidden");
            tableDataZeroLabel.classList.replace("hidden", "flex");
            return;
          }

          // append data to inner html
          const fragment = document.createDocumentFragment();
          data.forEach((livestock) => {
            const formattedArrived = livestock.date_arrived
              ? format(parseISO(livestock.date_arrived), "MMM dd, yyyy")
              : "-/-";

            const formattedProcessing = livestock.processing_date
              ? format(parseISO(livestock.processing_date), "MMM dd, yyyy")
              : "-/-";

            const row = fragment.appendChild(document.createElement("tr"));
            row.insertCell().textContent = livestock.livestock_id;
            row.insertCell().textContent = livestock.breed;
            row.insertCell().textContent = livestock.weight;
            row.insertCell().textContent = livestock.age;
            row.insertCell().textContent = livestock.country_of_origin;
            row.insertCell().textContent = livestock.medical_condition;
            row.insertCell().textContent = livestock.vaccination_status;
            row.insertCell().textContent = formattedArrived;
            row.insertCell().textContent = livestock.storage_location;
            row.insertCell().textContent = livestock.supplier_id;
            row.insertCell().textContent = livestock.status;
            row.insertCell().textContent = formattedProcessing;

            const actionCell = row.insertCell();
            if (livestock.status === "For Processing") {
              const btn = document.createElement("button");
              btn.className = "btn-secondary";
              btn.textContent = "Process Livestock";
              btn.addEventListener("click", () => {
                handleProcessClick(livestock.livestock_id, btn);
              });
              actionCell.appendChild(btn);
            } else {
              actionCell.textContent = "-";
            }
          });
          tableBody.appendChild(fragment);
        } catch (error) {
          console.error("Error fetching livestock data:", error);
          table.classList.replace("table", "hidden");
          tableDataZeroLabel.classList.replace("hidden", "flex");
        }
      });
    </script>
  </body>
</html>
