<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Carnivault - Suppliers</title>
    <script src="https://cdn.jsdelivr.net/npm/date-fns@3/cdn.min.js"></script>
  </head>
  <body>
    <div class="flex flex-1">
      <%- include("../partials/sidebar") %>
      <main class="flex-1 p-10 overflow-y-auto bg-background">
        <div class="flex gap-4">
          <h1 class="text-2xl font-bold text-foreground mb-6 tracking-tight">
            Suppliers
          </h1>
        </div>
        <section class="flex flex-col gap-4">
          <section class="flex justify-between">
            <!-- prettier-ignore -->
            <%- include("../partials/searchbar", { label: "Suppliers", select_id: "searchbarSelect", input_id: "searchbarInput", placeholder: "Search suppliers...", route_api: "livestock/suppliers" }) %>
            <div class="grid gap-2 grid-flow-col">
              <a href="/livestock" class="btn-outline">
                <i data-lucide="rabbit" class="h-4.5"></i>
                View Livestock
              </a>
              <button class="btn" id="add-supplier-btn">
                <i data-lucide="user-plus" class="h-4.5"></i>
                Add Supplier
              </button>
              <dialog
                id="add-supplier-dialog"
                class="dialog w-full sm:max-w-[425px] max-h-[612px] rounded-md m-auto"
                aria-labelledby="add-supplier-dialog-title"
                aria-describedby="add-supplier-dialog-description"
                onclick="if (event.target === this) this.close()"
              >
                <div class="relative grid gap-4 p-6">
                  <button
                    type="button"
                    aria-label="Close dialog"
                    onclick="this.closest('dialog').close()"
                    class="absolute top-4 right-2.5 text-gray-500 hover:text-gray-800"
                  >
                    <i data-lucide="x" class="h-4.5"></i>
                  </button>

                  <header>
                    <h2
                      id="add-supplier-dialog-title"
                      class="font-semibold text-lg"
                    >
                      Add Supplier
                    </h2>
                    <p
                      id="add-supplier-dialog-description"
                      class="text-sm text-gray-500"
                    >
                      Add suppliers for your company.
                    </p>
                  </header>

                  <section>
                    <form
                      class="form grid gap-4"
                      action="/api/livestock/suppliers/add"
                      method="POST"
                      id="add-supplier-form"
                    >
                      <div class="grid gap-3">
                        <label for="add-supplier-dialog-supplier-id">
                          Supplier ID
                        </label>
                        <input
                          type="text"
                          id="add-supplier-dialog-supplier-id"
                          placeholder="Enter supplier id"
                          autofocus
                          name="supplier_id"
                          required
                        />
                      </div>
                      <div class="grid gap-3">
                        <label for="add-supplier-dialog-company-name">
                          Company Name
                        </label>
                        <input
                          type="text"
                          id="add-supplier-dialog-company-name"
                          placeholder="Enter company name"
                          name="company_name"
                          required
                        />
                      </div>
                      <div class="grid gap-3">
                        <label for="add-supplier-dialog-contact">
                          Contact No.
                        </label>
                        <input
                          type="number"
                          id="add-supplier-dialog-contact"
                          placeholder="Enter contact no."
                          name="contact_no"
                          required
                        />
                      </div>
                    </form>
                  </section>

                  <footer class="flex justify-end gap-3">
                    <button
                      class="btn-outline"
                      onclick="this.closest('dialog').close()"
                    >
                      Cancel
                    </button>
                    <button type="submit" class="btn" form="add-supplier-form">
                      Add
                    </button>
                  </footer>
                </div>
              </dialog>
            </div>
          </section>
          <div class="overflow-x-auto">
            <%- include("../partials/table-skeleton", { id: "table-skeleton"})
            %> <%- include("../partials/table", { id: "suppliers-table"}) %>
          </div>
          <!-- prettier-ignore -->
          <%- include("../partials/table-data-zero", { id: "table-data-zero", description: "Supplier data not available..."}) %>
        </section>
      </main>
    </div>

    <script src="/scripts/components/table.js"></script>
    <script src="/scripts/components/searchbar.js"></script>

    <script>
      document.addEventListener("DOMContentLoaded", async () => {
        const tableColumns = ["Supplier ID", "Company Name", "Contact No."];

        initTable(
          tableColumns,
          "suppliers-table",
          "table-skeleton",
          "table-data-zero",
          "livestock/supplier",
          (e) => {},
          (e) => {}
        );

        // Init Search Bar
        initSearchBar(
          "searchbarSelect",
          "searchbarInput",
          "suppliers-table",
          tableColumns
        );

        // Implement Add Supplier button
        const supplierBtn = document.getElementById("add-supplier-btn");
        supplierBtn.addEventListener("click", () => {
          document.getElementById("add-supplier-dialog").showModal();
        });

        // Forms
        const supplierForm = document.getElementById("add-supplier-form");
        const supplierDialog = document.getElementById("add-supplier-dialog");

        supplierForm.addEventListener("submit", async (e) => {
          e.preventDefault();
          const formData = new FormData(supplierForm);
          const dataObject = Object.fromEntries(formData.entries());

          try {
            const response = await fetch("/api/livestock/suppliers/add", {
              method: "POST",
              body: new URLSearchParams(formData),
            });

            const result = await response.json();

            if (response.ok) {
              console.log("Success:", result);
              supplierDialog.close();
              supplierForm.reset();
              location.reload();
            } else {
              console.error("Server error:", result.error);
              alert(`Error: ${result.error}`);
            }
          } catch (error) {
            console.error("Network error:", error);
            alert("A network error occurred. Please try again.");
          }
        });
      });
    </script>
  </body>
</html>
