<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Carnivault - Suppliers</title>

    <script src="https://cdn.jsdelivr.net/npm/date-fns@3/cdn.min.js"></script>
  </head>
  <body>
    <div class="flex flex-1">
      <%- include("../partials/sidebar") %>
      <main class="flex-1 p-10 overflow-y-auto bg-background">
        <div class="flex gap-4">
          <h1 class="text-2xl font-bold text-foreground mb-6 tracking-tight">
            Suppliers
          </h1>
        </div>
        <section class="flex flex-col gap-4">
          <section class="flex justify-between">
            <!-- prettier-ignore -->
            <%- include("../partials/searchbar", { label: "Suppliers", select_id: "searchbarSelect", input_id: "searchbarInput", placeholder: "Search suppliers...", route_api: "suppliers" }) %>
            <div class="grid gap-2 grid-flow-col">
              <a href="/livestock" class="btn-outline">
                <i data-lucide="rabbit" class="h-4.5"></i>
                View Livestock
              </a>
              <button class="btn">
                <i data-lucide="user-plus" class="h-4.5"></i>
                Add Supplier
              </button>
            </div>
          </section>
          <div class="overflow-x-auto">
            <%- include("../partials/table-skeleton", { id: "table-skeleton"})
            %> <%- include("../partials/table", { id: "suppliers-table"}) %>
          </div>
          <!-- prettier-ignore -->
          <%- include("../partials/table-data-zero", { id: "table-data-zero", description: "Supplier data not available..."}) %>
        </section>
      </main>
    </div>

    <script src="/scripts/components/searchbar.js"></script>

    <script>
      document.addEventListener("DOMContentLoaded", async () => {
        const tableColumns = ["Supplier ID", "Company Name", "Contact No."];
        const tableSkeleton = document.getElementById("table-skeleton");
        const table = document.getElementById("suppliers-table");
        const tableDataZeroLabel = document.getElementById("table-data-zero");
        const tableBody = table.tBodies[0];
        const tableHeader = table.tHead;

        // Check elements
        if (!tableSkeleton || !table || !tableDataZeroLabel || !tableBody) {
          console.error("A required table element is missing!");
          return;
        }

        // Add columns to table header
        const columnFragment = document.createDocumentFragment();
        const row = columnFragment.appendChild(document.createElement("tr"));
        tableColumns.forEach((col) => {
          const cell = row.insertCell();
          cell.textContent = col;
          cell.classList.add("font-bold");
        });

        tableHeader.appendChild(columnFragment);

        // Init Search Bar
        initSearchBar(
          "searchbarSelect",
          "searchbarInput",
          "suppliers-table",
          tableColumns
        );

        // Fetch from data
        try {
          const response = await fetch("/api/livestock/supplier");
          const data = await response.json();

          // hide skeleton and show table after data load
          tableSkeleton.classList.add("hidden");
          table.classList.replace("hidden", "table");

          // show message and hide table when data is empty
          if (data.length === 0) {
            table.classList.replace("table", "hidden");
            tableDataZeroLabel.classList.replace("hidden", "flex");
            return;
          }

          const dataFragment = document.createDocumentFragment();
          data.forEach((supplier) => {
            const row = dataFragment.appendChild(document.createElement("tr"));
            row.insertCell().textContent = supplier.supplier_id;
            row.insertCell().textContent = supplier.company_name;
            row.insertCell().textContent = supplier.contact_no;
          });

          tableBody.appendChild(dataFragment);
        } catch (error) {
          console.error("Error fetching supplier data:", error);
          table.classList.replace("table", "hidden");
          tableDataZeroLabel.classList.replace("hidden", "flex");
        }
      });
    </script>
  </body>
</html>
